@import url(https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900);


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;

}

body {
    background-color: #5b6677;
}

.container {
    width: 100%;
    min-height: 100vh;
}

.sidebar {
    width: 250px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding: 24px;
    border-radius: 30px;
}

.sidebar .head {
    display: flex;
    gap: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #f6f6f6;
}

.user-img {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    overflow: hidden;
}

.user-img img {
    width: 100%;
    object-fit: cover;
}